section.benefits
  .container
    h2.benefits__title.title наши преимущества
    .benefits__wrap
      .benefis-card__wrap
        .benefits-card__pic
          img.benefits-card__img(src=require("../images/payment.png"), alt="payment")
        .benefits-card__text Любая форма оплаты
      .benefis-card__wrap
        .benefits-card__pic
          img.benefits-card__img(src=require("../images/map.png"), alt="payment")
        .benefits-card__text Поставки по ДНР и области
      .benefis-card__wrap
        .benefits-card__prod
          img.benefits-card__img(src=require("../images/production.png"), alt="payment")
        .benefits-card__text Собственное производство
      .benefis-card__wrap
        .benefits-card__quality
          img.benefits-card__img(src=require("../images/quality.png"), alt="payment")
        .benefits-card__text Качественная продукция
      .benefis-card__wrap
        .benefits-card__price
          img.benefits-card__img(src=require("../images/price.png"), alt="payment")
        .benefits-card__text Цены первого поставщика