section.comment
    .container
        h2.comment__title.title отзывы
        .comment__cards
            .swiper.swiper-comment
                .swiper-wrapper
                    .swiper-slide
                        .comment__card
                            .comment__avatar
                                img.comment__img(src=require('../images/av1.png'), alt="avatar 1")
                            .comment__text Компания ООО “СамСофтЛайн” выражает благодарность за качественную и своевременную поставку материала, за внимательный подход к поставленной задаче.
                            .comment__wrap
                                .comment__date 5 марта 2022
                                .comment__ratings
                                    .comment__rating
                                        img.comment__rating-img(src=require('../images/Star 3.png'), alt="rating")
                                    .comment__rating
                                        img.comment__rating-img(src=require('../images/Star 3.png'), alt="rating")
                                    .comment__rating
                                        img.comment__rating-img(src=require('../images/Star 3.png'), alt="rating")
                                    .comment__rating
                                        img.comment__rating-img(src=require('../images/Star 3.png'), alt="rating")
                                    .comment__rating
                                        img.comment__rating-img(src=require('../images/Star 3.png'), alt="rating")
                    .swiper-slide
                        .comment__card
                            .comment__avatar
                                img.comment__img(src=require('../images/av2.png'), alt="avatar 2")
                            .comment__text Настоящим письмом выражаем искренюю благодарность за профессионально выполненную работу. На всех этапах сотруднечиства Компания зарекомендовала себя как надёжного партнёра.
                            .comment__wrap
                                .comment__date 5 марта 2022
                                .comment__ratings
                                    .comment__rating
                                        img.comment__rating-img(src=require('../images/Star 3.png'), alt="rating")
                                    .comment__rating
                                        img.comment__rating-img(src=require('../images/Star 3.png'), alt="rating")
                                    .comment__rating
                                        img.comment__rating-img(src=require('../images/Star 3.png'), alt="rating")
                                    .comment__rating
                                        img.comment__rating-img(src=require('../images/Star 3.png'), alt="rating")
                                    .comment__rating
                                        img.comment__rating-img(src=require('../images/Star 5.png'), alt="rating")
                    .swiper-slide
                        .comment__card
                            .comment__avatar
                                img.comment__img(src=require('../images/av3.png'), alt="avatar 3")
                            .comment__text Компания ООО “СамСофтЛайн” выражает благодарность за качественную и своевременную поставку материала, за внимательный подход к поставленной задаче.
                            .comment__wrap
                                .comment__date 5 марта 2022
                                .comment__ratings
                                    .comment__rating
                                        img.comment__rating-img(src=require('../images/Star 3.png'), alt="rating")
                                    .comment__rating
                                        img.comment__rating-img(src=require('../images/Star 3.png'), alt="rating")
                                    .comment__rating
                                        img.comment__rating-img(src=require('../images/Star 3.png'), alt="rating")
                                    .comment__rating
                                        img.comment__rating-img(src=require('../images/Star 3.png'), alt="rating")
                                    .comment__rating
                                        img.comment__rating-img(src=require('../images/Star 3.png'), alt="rating")
            .comment-arrows__left
            .comment-arrows__right
        