section.wholesalers
    .container
        .wholesalers__title.title оптовикам
        ul.wholesalers__list 
            li.wholesalers__item 1. Работаем по предварительно заключенному договору.
            li.wholesalers__item 2. Гарантированно выполняем свои обязательства перед клиентами. 
            li.wholesalers__item 3. Можем организовать отлаженные поставки, угля на объекты с целью обеспечения бесперебойной работы.
        .wholesalers__suptitle Другие преимущества ЦОФ «Пролетарская»:
        .wholesalers__wrap
            .wholesalers-card__wrap
                .wholesalers-card__angar
                    img.wholesalers-card__img(src=require("../images/angar.png"), alt="angar")
                .wholesalers-card__text Наличие больших складских площадей
            .wholesalers-card__wrap
                .wholesalers-card__payment
                    img.wholesalers-card__img(src=require("../images/payment.png"), alt="payment")
                .wholesalers-card__text Любая форма оплаты
            .wholesalers-card__wrap
                .wholesalers-card__logistic
                    img.wholesalers-card__img(src=require("../images/logistic.png"), alt="logistic")
                .wholesalers-card__text Грамотная система логистики
            .wholesalers-card__wrap
                .wholesalers-card__terms
                    img.wholesalers-card__img(src=require("../images/terms.png"), alt="terms")
                .wholesalers-card__text Четкое соблюдение сроков отгрузки
            .wholesalers-card__wrap
                .wholesalers-card__delivery
                    img.wholesalers-card__img(src=require("../images/delivery.png"), alt="delivery")
                .wholesalers-card__text Обширная география развозки
            .wholesalers-card__wrap
                .wholesalers-card__reserves
                    img.wholesalers-card__img(src=require("../images/reserves.png"), alt="reserves")
                .wholesalers-card__text Собственные карьерные запасы материалов.
        a.wholesalers__btn(href="#") Для заключения договора на поставку свяжитесь с нами

    